/* Reset some default styles for the body and HTML elements */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif !important;
}

/* Style the root element (where your React app will be rendered) */
:root {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif !important;
}
