/* Reset some default styles for the body and HTML elements */

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  position: fixed;
}

/* Style the root element (where your React app will be rendered) */
#root {
  width: 100% !important;
  height: 100% !important;
  font-family: 'Roboto', sans-serif !important;
}
